html {
    font-family: Source Han Sans, Microsoft YaHei, Arial, Helvetica, sans-serif;
}

@font-face {
    /* 字体已经 经过精简 */
    font-family: "Redocn";
    src: url("../font/sfont.woff") format("woff"), url("../font/sfont.ttf") format("truetype"), url("../font/sfont.eot") format("embedded-opentype"), url("../font/sfont.svg") format("svg");
}

* {
    font-family: Redocn;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.main-contain {
    height: 100%;
    min-height: 95vh;
    padding: 20px 0;
}
#bt1{
    height: 20px;
    width: 20px;
    color: #000;
}
.card-li {
    width: 90%;
    margin: 10px auto 0;
    padding: 10px 5px 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0px 0px 5px #C2C2C2;
    -webkit-box-shadow: 0px 0px 5px #C2C2C2;
    box-shadow: 0px 0px 5px #C2C2C2;
    background-size: 100% 100%;
    border-radius: 16px;
    background-position: center;
    position: relative;
}

.card-li .li-img {
    width: 6.5vw;
    position: absolute;
    bottom: 20px;
    right: 32px;
}

.card-li .li-img-r {
    width: 8.5vw;
    position: absolute;
    top: 25px;
    right: 32px;
}

.score-canvas {
    background-color: #fefefe;
    border-radius: 16px;
}

.card-li h1 {
    font-size: 1.7em;
    margin: 10px 0 0;
    /*font-family: "iconFont";*/
    /*font-weight: bold;*/
}

.card-li h3 {
    margin: 10px 0;
}

.dash-border {
    width: 90%;
    border-top: 1px dashed #999;
    margin: 23px auto 0;
}

.score-show {
    width: 80%;
    height: 120px;
    margin: 10px auto 10px;
}

.score-show canvas {
    width: 100%;
    height: 100%;
    float: left;
}

.score-shadow {
    z-index: 10000;
    /*background: #efefef;*/
    /*background: red;*/
    margin-top: -120px;
}

.carfix {
    height: 50px;
    width: 100%;
}

.not-like {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background: #000;
    opacity: 0.7;
}

.not-like-closebtn {
    float: left;
    width: 20px;
    height: 20px;
    background: #fff;
    border-bottom-right-radius: 16px;
    font-size: 2.2em;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 18px;
}

.chahao {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.ui-dialog-close:before {
    left: 0;
}

.ui-switch input:checked:before {
    border-color: #fdd835;
    -webkit-box-shadow: #fdd835 0 0 0 16px inset;
    box-shadow: #fdd835 0 0 0 16px inset;
    background-color: #fdd835;
    transition: border .4s, box-shadow .4s, background-color 1.2s;
    -webkit-transition: border .4s, -webkit-box-shadow .4s, background-color 1.2s;
    background-color: #fdd835;
}

.not-like-title {
    font-size: 0.8em;
    line-height: 50px;
    color: #999;
    margin: 0 auto;
    font-weight: bold;
}

.black-color {
    color: #464646;
}

.black-color {
    color: #353535;
}

.white-color {
    color: #fff;
}

.yellow-color {
    color: #997448;
}

.prompt {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background: #fff;
    font-size: 14px;
    /* display: table; */

    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
}
/* .prompt {
    position: fixed;
width: 100%;
    height: 100%;
    min-height: 100vh;
    display: table-cell;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
/* .err-prompt{
    width: 100%; 
} */
.err-prompt,
.home {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: table-cell;
    vertical-align: middle;
    /* 2018.4.23 ++ */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 改动 */
/* .img.img-home1 {
    display: block;
    margin-top: -1vh;
    margin-bottom: 8vh;
    height: 6vh;
} */
/* 改动 */
/* .img
.img-home1 {
    height: 9vh ！important;
    padding: 1vh 4vh 1vh 4vh;
}
.img
.img-home2 {
    height: 8vh;
} */
.chengji {
    width: 90%;
    margin: 12px ! important;
    padding: 1Px 9px 2px 9px ! important;
}
.pingjiao
{
    width: 100%;
    margin: 29px auto ! important;
}
.imghome{
    margin: -4px;
    width: 100%;
}
.chengji_img{
    width: 93% ! important;
    height: 90%! important;
    margin: 0px auto ! important;
    padding: 11px 15px 19px 15px ! important;
}
.chengji_img205{
    width: 100% ! important;
    height: 90%! important;
    margin: 12px auto ! important;
    padding: 12px 0px 15px 0px ! important;
}
.prompt-btn205 {
    cursor: pointer;
    margin: 43px auto ! IMPORTANT;
    width: 51%;
    height: 10%;
    padding: 1px 18px 1px 18px;
}
.zhanghao{
    width: 78%;
    height: 88% ! important;
    margin: 23px auto ! important;
    padding: 13px 29px 13px 29px ! important;
}
.jiaowuxitong_1 {
    width: 100%;
    margin: 10px auto ! important;
}
.jiaowuxitong {
    width: 51%;
    height: 44% ! important;
    margin: 4px auto ! important;
    padding: 12px 69px 17px 27px ! important;
}
.zhanghao_div{
    width: 100%;
    height: 21vh ! important;
}
.Cheng_ji{
    width: 38vh;
    height: 16vh ! important;
}
.err-407-img{
    width: 90%;
    height: 100% ! important;
    margin: 28px auto ! important;
}

.err-500-img {
    width: 80%;
    height: 100% ! important;
    margin: 28px auto ! important;
    padding: 1px 38px 2px 24px ! important;
}
.no_pingjiao{
    padding: -1vh 4vh 5vh 0vh;
    width: 47vh;
    height: 17vh ! important;
}
.shouye{
    width: 100%;
    margin: 19px auto ! important;
}
.shouye_img
{
    height: 24% ! important;
    width: 78%;
    margin: 10px auto ! important;
    padding: 6px 12px 7px 12px ! important;
}
.img-home0 {
    height: 87% ! important;
    width: 65%;
}
.img-home_img{
    width: 41%;
    margin: 16px auto !important;
    height: 96% !important;
    padding: 4px 18px 5px 18px !important;
}
.img-home1{
    width: 44%;
    margin: 16px auto !important;
    height: 100% !important;
    padding: 6px 18px 5px 18px !important;
    }
.img-home2{
    height: 31% ! important;
    width: 62%;
    margin: 10px auto ! important;
    padding: 5px 39px 5px 39px ! important;
   
    }
.err-500-pos{
    width: 100%;
}
.img-home4 {
    height: 34% ! important;
    width: 73%;
    margin: 12px auto ! important;
    padding: 7px 48px 3px 48px;
}
 .img-home5
 {
    height: 34% ! important;
    width: 59%;
    margin: 12px auto ! important;
    padding: 4px 20px 3px 20px;
 }
 .img-home6
 {
    height: 35% ! important;
    width: 59%;
    margin: 12px auto ! important;
    padding: 4px 20px 3px 20px;
 }
 
.img-home3{
    height: 29% ! important;
    width: 64%;
    margin: 27px auto !important;
    padding: 12px 35px 21px 31px ! important;
    }
.aimg-home3
{
    height: 62% ! important;
    width: 40%;
    margin: 6px auto ! important;
    padding: 10px 37px 10px 37px ! important;
}
.tryagain_img
{
    margin: 6px auto ! important;
    height: 66% ! important;
    width: 79%;
    padding: 5px 17px 5px 17px ! important;
}
.tryagain_img4
{
    margin: 6px auto ! important;
    height: 66% ! important;
    width: 57%;
    padding: 4px 45px 5px 45px ! important;
}
.tryagain_img0
{
    margin: -12px auto ! important;
    height: 39% ! important;
    width: 77%;
    padding: 17px 5px 14px 5px ! important;
}

.tryagain4 {
    height: 12vh;
    width: 37vh;
    padding: 11vh 0vh 7vh 0vh;
}
.img-loading {
    height: 32vh ! important;
    width: 36vh;
    margin: 19px auto ! important;
    padding: 6vh 6vh 7vh 6vh ! important;
}
.img-home403 {
    height: 30% ! important;
    width: 56%;
    margin: 12px auto !important;
    padding: 12px 31px 21px 31px ! important;
}
.home0 {
    height: 27vh;
    width: 41vh;
}
/* .tryagain {
    height: 100%;
    width: 100%;
    margin: 22px auto ! important;
    padding: 1px 25px 1px 13px;
} */
.err-prompt *,
.home * {
    margin: 0 auto;
    text-align: center;
}

.err-prompt img, 
.home img {
    display: block;
    height: 8vh;
    margin-top: 0vh;
    margin-bottom: 8vh;
}
/* .err-prompt img,
.home img {
    display: block;
    height: 7vh;
    margin-top: -1vh;
    margin-bottom: 8vh;
} */
.err-prompt .img-home,
.home .img-home {
   
    height: 23vh;
    margin: 10px auto;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}
/* .btn-home3{
    width: 100%;
} */
.err-prompt .txt {
    width: 22.5em;
    margin-top: 3vh;
}

.err-prompt .txt-home {
    width: 100%;
    margin-top: 3vh;
}

.err-prompt .txt-500 {
    width: 25.5em;
}

.home .txt {
    width: 100%;
    margin-top: 5vh;
}

.home p {
    font-size: 2.1em;
    font-family: Redocn;
}

.err-prompt p,
.black-his {
    display: inline-block;
    font-size: 2.6em;
    color: #333;
    line-height: 1.5;
    margin: 0 auto;
    font-family: Redocn;
    font-weight: 700;
    transform: rotate(-3deg);
}

.txt-l {
    text-align: left;
}

.txt-r {
    text-align: right;
}

.txt-24 {
    width: 24em !important;
}

.txt-26 {
    width: 26em !important;
}

.txt-26 p {
    font-size: 2.4em;
    line-height: 1.75;
    transform: rotate(-4deg);
}


/* 2018.4.23  */

.err-205,
.err-403,
.err-404 {
    background-image: url(../../img/back-g.png);
}

.main-contain,
.home,
.err-407,
.err-500,
.err-204,
.loading {
    background-image: url(../../img/back-g.png);
}


/* 2018.4.23  */


.home .btn {
    cursor: pointer;
    margin: 41px auto ! IMPORTANT;
}
.prompt-btn
{
    cursor: pointer;
    margin: 5px auto ! IMPORTANT;
    width: 51%;
    height: 10%;
    padding: 1px 18px 1px 18px;
}
.prompt-btn6
{
    cursor: pointer;
    margin: 5px auto ! IMPORTANT;
    width: 51%;
    height: 10%;
    padding: 1px 18px 1px 18px;
}
.prompt-btn0
{
    margin: 1px auto ! important;
    height: 62% ! important;
    width: 48%;
    padding: 4px 17px 5px 17px ! important;

}
.prompt-btn_1{
    cursor: pointer;
    margin: 3px auto ! IMPORTANT;
    padding: 5px 8px 4px 8px;
}
.prompt-btn_4{
    cursor: pointer;
    margin: 12px auto ! IMPORTANT;
    width: 79%;
    height: 10%;
    padding: 1px 25px 1px 18px;
}

.btn-border {
    width: 100%;
}

/* .btn-g {
    background: #4faa7e;
    border: 3px solid #74e192;
} */

/* .btn-y { */
    /* background: #fff; */
    /*border: 3px solid #f39b4e;*/
    /* border: 3px solid #11b0f0; */
/* } */

.black-his {
    /* font-size: 1.25em; */
    text-decoration: underline;
    transform: rotate(0);
    display: block;
    margin: 17px auto;
    width: 80%;
    height: 100%;
    /* margin-top: 3vh;
    margin-bottom: 8vh;  */
}

.hide {
    display: none;
}

.hide1 {
    opacity: 0;
    height: 1px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;
}


/*div.mod弹出 */

.mod {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
}

.mod .sec {
    width: 80%;
    height: 27%;
    margin: 0 auto;
    position: relative;
    top: 35%;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mod .sec img {
    width: 56px;
    height: 56px;
}

.mod .sec p {
    font-size: 1.25em;
}

.mod .sec .btn-box {
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.mod .btn-box .mod-btn {
    width: 5.5em;
    height: 2em;
    margin-top: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdd835;
    border-radius: 5px;
}

.mod-b {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 30%;
}

.mod-b .img-box {
    width: 80%;
    margin: 0 auto;
}

.mod-b img {
    width: 100%;
}

.mod-h {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}
